# ==============================
# Python
# ==============================
__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info/
.env
.venv/
venv/

# ==============================
# Bases de datos
# ==============================
*.db
backend/db/pgx_app.db

# ==============================
# Logs y resultados generados
# ==============================
results/
*.log
*.txt

# ==============================
# Archivos temporales y comprimidos
# ==============================
*.gz
*.zip
*.tar
*.tar.gz

# ==============================
# IDE / editor
# ==============================
.vscode/
.idea/

